/*======== mobile ========*/
@media all and (max-width:767px){
    /* layout */
    #wrap.full{position:fixed; top:0; left:0; width:100%; height:100%; background-color:#000}
    .holder:not(.pwrapper),
    .pwrapper.holder,
    .pwrapper:not(.holder) .wholder,
    .mholder{margin-right:15px; margin-left:15px}
    .pholder{margin:0}
    .loading{height:496px; min-height:0; background-size:60px auto}

    /* header */
    .openNav #header{position:static}
    .searchviw #header{border-bottom:1px solid #d9d9d9}
    .topfix #header{z-index:500; position:fixed; top:0; right:0; left:0}
    #header .top{position:relative; padding-top:0; text-align:center}
    .view:not(.full) #header .top,
    .view2 #header .top,
    .blank:not(.type2) #header .top{z-index:999; height:52px; border-bottom:1px solid #d9d9d9}
    .blank.type2 #header .top{background-color:#000}
    #header .home{height:53px}
    #header .home a{width:108px; height:inherit; line-height:53px}
    #header .home .sp{width:88px; height:17px}
    .sub #header .home a{margin-left:40px; width:30px}
    .sub #header .home .sp{width:20px; height:18px; background-position:-36px -18px}
    #header .title{z-index:-1; margin-top:-53px; padding:0 100px; line-height:53px; font-size:16px; font-weight:700; color:#222624; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
    .blank.type2 #header .title{color:#fff}
    .topfix #header .title{position:fixed; top:0 !important; left:50%; transform:translateX(-50%); -ms-transform:translateX(-50%); margin-top:0}
    #header .fix_p{height:auto}
    #header .fix_p > .inner{height:auto; padding:0; border-bottom:0}
    #header .holder{position:static}
    #header .btn_t{height:53px; line-height:53px}
    .topfix #header .home a,
    .topfix #header .btn_t{position:fixed; top:0 !important}
    #header .nav{left:0; width:50px}
    #header .nav .sp{width:20px; height:13px; background-position:0 -37px}
    #header .back{left:0; width:30px; padding-left:10px}
    #header .back .sp{width:20px; height:13px; background-position:-21px -37px}
    .blank.type2 #header .back .sp{background-position:-42px -37px}
    #header .searchlink{right:69px; width:32px}
    .searchviw #header .searchlink{right:0; width:50px}
    #header .searchlink .sp{width:16px; height:16px; background-position:-73px -18px}
    #header .setting{right:0; width:50px}
    .mymain #header .setting{right:42px; width:30px}
    #header .setting .sp{margin-top:-2px; width:20px; height:20px; background-position:-77px -37px}
    #header .share{right:0; width:50px}
    #header .share .sp{width:20.33px; height:20px; background-position:0 -51px}
    #header .scrap{right:42px; width:27px}
    #header .scrap .sp{margin-top:-2px; width:14.33px; height:18px; background-position:-21px -18px}
    #header .cart{right:0; width:33px; padding-right:9px}
    #header .cart .sp{width:20px; height:18.67px; background-position:0 -18px}
    #header .cart .cnt{top:11px; right:7px; min-width:9px; line-height:15px; font-size:9px; border-radius:15px}
    #header .more{right:0; width:50px}
    #header .more .sp{width:4px; height:17px; background-position:-89px -18px}
    .full #header .more .sp{background-position:-94px -18px}
    #header .text{right:0; padding:0 15px; font-size:14px; font-weight:700; color:#009a3e}
    #header .close{left:0; width:50px; font-size:0; background:url(../../images/common/x3.png) center center no-repeat; background-size:17px auto}
    .mymain #header .scrap,
    .view #header .subnav,
    .view2 #header .subnav,
    .blank #header .subnav{display:none !important}
    .searchviw #header .subnav{margin-bottom:-1px}
    .mymain #header .subnav li{width:50%}
    #header .subnav li + li{margin-left:0}
    #header .subnav a{position:relative; padding:0 17px; line-height:49px}
    .mymain #header .subnav a{display:block; text-align:center}
    #header .subnav .active a::after{content:""; position:absolute; bottom:-1px; right:0; left:0; height:2px; background-color:#009a3e}
    #header .btn_folder{top:0; right:0; padding-right:15px; padding-left:25px; line-height:53px; font-size:12px; background-size:20px auto}
    #header.fixed .btn_folder{position:fixed; top:-53px}
    .scrollUp #header .btn_folder{z-index:999; top:0; transition:top .2s ease-in-out}
    #header.fixed .fix_p > .inner{position:static}
    #header.fixed .home a,
    #header.fixed .title,
    #header.fixed .fix_m > .inner{position:fixed; top:-53px; transition:top .2s ease-in-out}
    .scrollUp #header.fixed .fix_p > .inner{padding-top:0}
    .scrollUp #header.fixed .home a,
    .scrollUp #header.fixed .title,
    .scrollUp #header.fixed .fix_m .inner{top:0}
    .scrollUp #header.fixed .fix_m .inner{padding-top:env(safe-area-inset-top)}
    .scrollUp #header.fixed .home a,
    .scrollUp #header.fixed .title,
    .scrollUp #header.fixed .btn_t{margin-top:env(safe-area-inset-top)}
    #header.fixed .home a,
    #header.fixed .title{z-index:999}
    #header.fixed .title{left:50%; margin-top:0; max-width:calc(100% - 200px); padding:0; transform:translateX(-50%); -ms-transform:translateX(-50%)}
    #wrap:not(.sub) #header.fixed .home a{left:calc(50% - 54px)}
    #wrap:not(.topfix) #header.fixed .fix_m > .inner{z-index:900; right:0; left:0; height:53px; background-color:#fff}
    .view:not(.full):not(.topfix) #header.fixed .fix_m > .inner,
    .blank:not(.type2):not(.topfix) #header.fixed .fix_m > .inner{height:52px; border-bottom:1px solid #d9d9d9}
    .full #header.fixed .fix_m > .inner{background-color:transparent}
    .blank.type2 #header.fixed .fix_m > .inner{background-color:#000}
    #header .subnav .sub,
    #wrap:not(.sub) #header .back,
    .sub #header .nav,
    .sub:not(.search) #header .search,
    .view #header .scrap,
    .blank #header .scrap,
    .search #header .scrap,
    .searchviw #header .scrap,
    .view #header .cart,
    .blank #header .cart,
    .search #header .cart,
    .searchviw #header .cart,
    .full #header .home a,
    .blank.type2 #header .home a,
    .blank.type3 #header .home a{display:none !important}

     /* width */
    .widthfullm{width:100% !important}
    .width57m{width:57px !important}
    .width67m{width:67px !important}
    .width97m{width:97px !important}
    .width100m{width:100px !important}
    .width120m{width:120px !important}

    /* margin */
    .mt-37m{margin-top:-37px !important}
    .mt-25m{margin-top:-25px !important}
    .mt-23m{margin-top:-23px !important}
    .mt-20m{margin-top:-20px !important}
    .mt-18m{margin-top:-18px !important}
    .mt-5m{margin-top:-5px !important}
    .mt0m{margin-top:0 !important}
    .mt5m{margin-top:5px !important}
    .mt6m{margin-top:6px !important}
    .mt7m{margin-top:7px !important}
    .mt8m{margin-top:8px !important}
    .mt9m{margin-top:9px !important}
    .mt10m{margin-top:10px !important}
    .mt11m{margin-top:11px !important}
    .mt12m{margin-top:12px !important}
    .mt13m{margin-top:13px !important}
    .mt14m{margin-top:14px !important}
    .mt15m{margin-top:15px !important}
    .mt17m{margin-top:17px !important}
    .mt20m{margin-top:20px !important}
    .mt25m{margin-top:25px !important}
    .mt30m{margin-top:30px !important}
    .mt35m{margin-top:35px !important}
    .mt40m{margin-top:40px !important}
    .mt50m{margin-top:50px !important}
    .mt90m{margin-top:90px !important}
    .mb-20m{margin-bottom:-20px !important}
    .mb-40m{margin-bottom:-40px !important}
    .mb20m{margin-bottom:20px !important}
    .ml8m{margin-left:8px !important}
    .ml10m{margin-left:10px !important}

    /* padding */
    .pt15m{padding-top:15px !important}
    .pt25m{padding-top:25px !important}
    .pt35m{padding-top:35px !important}
    .pt0m{padding-top:0 !important}
    .pb0m{padding-bottom:0 !important}
    .pb7m{padding-bottom:7px !important}
    .pb17m{padding-bottom:17px !important}
    .pb30m{padding-bottom:30px !important}
    .pb40m{padding-bottom:40px !important}

    /* text */
    .tcm{text-align:center}
    .ft11m{font-size:11px !important}
    .ft13m{font-size:13px !important}
    .underbd{line-height:18px; font-size:12px}
    .underbd::after{height:1px; opacity:1}

    /* button */
    .button + .button{margin-left:7px}
    .button.h40m{height:40px; line-height:40px; font-size:14px}
    .button.bd.h40m{line-height:38px}
    .button.h24m{height:24px; line-height:24px; font-size:12px}
    .button.bd.h24m{line-height:22px}
    .button .share{top:-2px; margin-right:10px; width:17px; height:18px}
    .bottom_btn .inner{padding:7px; padding:7px 7px calc(7px + env(safe-area-inset-bottom)); border-radius:12px 12px 0 0; box-shadow:0 0 10px rgba(0,0,0,0.1)}
    .bottom_btn .whalfm{width:calc((100% - 7px)/2) !important}
    .bottom_btn.fixed{height:40px}
    .bottom_btn.fixed .fixinner{position:fixed; bottom:0; right:0; left:0}
    .bottom_btn.fixed .button{border-bottom-right-radius:0; border-bottom-left-radius:0}

    /* form element */
    .form_element.radio label{padding-left:32px; line-height:22px}
    .form_element.radio label > span::before{width:20px; height:20px}
    .form_element.radio input:checked + span::after{top:6px; left:6px; width:10px; height:10px}
    .form_element.check label{padding-left:30px; line-height:22px}
    .form_element.single.check{height:20px}
    .form_element.single.check label{height:20px; padding-left:20px}
    .form_element.check label > span::before{width:20px; height:20px}
    .form_element.check input:checked + span::before{background-size:14px auto}
    .form_element.radio .frm{margin-left:32px}

    .frmbox{height:40px !important}
    .frmbox.h100,
    .frmbox.h120{height:107px !important}

    /* width */
    .wfullm{width:100% !important}
    .w57m{width:57px !important}
    .w67m{width:67px !important}
    .w97m{width:97px !important}
    .w100m{width:100px !important}
    .w120m{width:120px !important}

    /* margin */
    .mt-37m{margin-top:-37px !important}
    .mt-25m{margin-top:-25px !important}
    .mt-23m{margin-top:-23px !important}
    .mt-20m{margin-top:-20px !important}
    .mt-18m{margin-top:-18px !important}
    .mt-5m{margin-top:-5px !important}
    .mt0m{margin-top:0 !important}
    .mt5m{margin-top:5px !important}
    .mt6m{margin-top:6px !important}
    .mt7m{margin-top:7px !important}
    .mt8m{margin-top:8px !important}
    .mt9m{margin-top:9px !important}
    .mt10m{margin-top:10px !important}
    .mt11m{margin-top:11px !important}
    .mt12m{margin-top:12px !important}
    .mt13m{margin-top:13px !important}
    .mt14m{margin-top:14px !important}
    .mt15m{margin-top:15px !important}
    .mt17m{margin-top:17px !important}
    .mt20m{margin-top:20px !important}
    .mt25m{margin-top:25px !important}
    .mt30m{margin-top:30px !important}
    .mt35m{margin-top:35px !important}
    .mt40m{margin-top:40px !important}
    .mt50m{margin-top:50px !important}
    .mt90m{margin-top:90px !important}
    .mb-20m{margin-bottom:-20px !important}
    .mb-40m{margin-bottom:-40px !important}
    .mb20m{margin-bottom:20px !important}
    .ml8m{margin-left:8px !important}
    .ml10m{margin-left:10px !important}

    /* padding */
    .pt15m{padding-top:15px !important}
    .pt25m{padding-top:25px !important}
    .pt35m{padding-top:35px !important}
    .pt0m{padding-top:0 !important}
    .pb0m{padding-bottom:0 !important}
    .pb7m{padding-bottom:7px !important}
    .pb17m{padding-bottom:17px !important}
    .pb30m{padding-bottom:30px !important}
    .pb40m{padding-bottom:40px !important}

    /* text */
    .tcm{text-align:center}
    .ft11m{font-size:11px !important}
    .ft13m{font-size:13px !important}
    .underbd{line-height:18px; font-size:12px}
    .underbd::after{height:1px; opacity:1}

    /* button */
    .btn + .btn{margin-left:7px}
    .btn.h40m{height:40px; line-height:40px; font-size:14px}
    .btn.bd.h40m{line-height:38px}
    .btn.h24m{height:24px; line-height:24px; font-size:12px}
    .btn.bd.h24m{line-height:22px}
    .btn .share{top:-2px; margin-right:10px; width:17px; height:18px}
    .bottom_btn .inner{padding:7px; padding:7px 7px calc(7px + env(safe-area-inset-bottom)); border-radius:12px 12px 0 0; box-shadow:0 0 10px rgba(0,0,0,0.1)}
    .bottom_btn .whalfm{width:calc((100% - 7px)/2) !important}
    .bottom_btn.fixed{height:40px}
    .bottom_btn.fixed .fixinner{position:fixed; bottom:0; right:0; left:0}
    .bottom_btn.fixed .btn{border-bottom-right-radius:0; border-bottom-left-radius:0}

    /* form element */
    .form_element.radio label{padding-left:32px; line-height:22px}
    .form_element.radio label > span::before{width:20px; height:20px}
    .form_element.radio input:checked + span::after{top:6px; left:6px; width:10px; height:10px}
    .form_element.check label{padding-left:30px; line-height:22px}
    .form_element.single.check{height:20px}
    .form_element.single.check label{height:20px; padding-left:20px}
    .form_element.check label > span::before{width:20px; height:20px}
    .form_element.check input:checked + span::before{background-size:14px auto}
    .form_element.radio .frm{margin-left:32px}

    .frmbox{height:40px !important}
    .frmbox.h100,
    .frmbox.h120{height:107px !important}

}